* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

li,p,a, h1,h2,h3{
    color: white;

}
li,p,a :hover{
    color: #900707;
    
}
h3:hover{
    color: #900707;  
}
h1{
    text-align: center;
}
h3{
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 5%;
}
.main-section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    grid-template-rows: repeat(2, auto);
    text-align: center;
    padding-bottom: 5%;
    
}

.second-heading {
    grid-row: 1;
    grid-column: 1 / -1;
    padding-top: 2%;
    padding-bottom: 2%;
}


.main-section div {
    grid-row: 2;
    text-align: center;
    margin: 0 auto;
}

.main-section img {
    margin: 0 auto;
    height: 350px;
    width: 400px;
    object-fit: cover;
    transition: .3s;
}
.main-section img:hover{
    transform: scale(1.07); 
}
body{
    background-image: url('/portfolio/Images/black.jpg');
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.aboutme p {
    margin-top: 5rem;
    text-align: center;
    margin: 0 auto;
    color: white;
    }
    footer{
        height: 5rem;
    display: grid
;
    align-items: center;
            justify-content: space-around;
    }
    ul{
        display: grid
        ;
            grid-auto-flow: column;
            list-style: none;
            text-align: center;
            gap: 3rem;
    }
    

